h1 {
    color:red;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

#root {
    position: relative;
    width: 70%;
    margin-left: 15%;
}

#blocker {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    padding: 0;
    margin: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 10;
}

#topbanner {
    width: 100%;
    height: 3em;
    border-bottom: 1px solid black;
}

#loginprompt {
    padding: 1em;
    padding-bottom: 0;
    position: absolute;
    top: 3em;
    right: 0em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 20;
}

.loginstatus {
    position: absolute;
    top: 0em;
    right: 2em;
}

.loginlabel {
    display:inline-block;
    width: 100px;

}
.loginfield {
    width: 150px;
}

#eventlist {
    width: 30%;
    margin-top: 3em;
}

#eventcreator, #eventeditor {
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    width: 75%;
    left: 12.5%;
    z-index: 20;
}

.grid-container, .grid-container-small {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container-small {
    grid-template-columns: 1fr 2fr;
}

.grid-container {
    grid-template-columns: 1fr 2fr 3fr;
}

.grid-container > div, .grid-container-small > div {
    padding: 10px 5px;
}

.grid-container-small > .grid-item {
    text-align: center;
}

.grid-title, .grid-title-big {
    border: 1px solid black;
    font-weight:bold;
}

.grid-title-big {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-title {
    text-align: right;
    grid-column: 1;
}

.grid-item {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-texteditor {
    width: 100%;
    padding: 0;
}

.grid-nav {
    grid-column: 3;
    grid-row: 2 / 6;
}

.grid-nav > .grid-title {
    text-align: left;
}

.dualslider-left, .dualslider-right {
    width: 49%;
}

.dualslider-left {
    margin-right: 0;
}
.dualslider-right {
    margin-left: 0;
}
#eventeditorcomments {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 300px;
    margin-bottom: 10px;
}
.comment {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
    margin-left: 2em;
    text-indent: -1.5em;
}
#commentfield {
    width: 100%;
}